// app\assets\stylesheets\components\_editor.scss

@use "../base/variables" as v;

// エディター全体
button {
  transform-origin: center;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.01);
  box-shadow: 1px 2px 2px gray; 
}

button:active {
  transform: scale(0.95);
}


.generator-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  font-family: v.$font-family-main;
}
.editor {
  flex: 1 1 auto;
  min-height: 0;
  display: flex;
  overflow: hidden;
  width: 100%;
}

.editor--sidebar, .editor--main, .editor--preview {
  min-height: 0;
  overflow-y: auto;
  border: 1px solid #7d7d7d29;
}

// エディター左カラム（カテゴリーリスト）
.editor--sidebar {
  width: 25%;
}

.sidebars-title {
    padding-left: 15px;
    font-size: 14px;
    color: v.$text-sub;
}

.category-item {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.category-link {
  display: flex;
  align-items: center;

  width: 80%;
  padding: 11px 12px;
  border-radius: 10px;
  text-decoration: none;
  color: #333;
  font-weight: 400;
  transition: 0.2s;
}

.category-link:hover {
  transform: scale(1.05);
  box-shadow: 1px 2px 6px gray; 
}

.category-link:active {
  transform: scale(0.95);
}

.category-link.active {
  @include v.category-theme;

  border: 1px solid var(--theme-middle);
}

// カテゴリ名
.category-label {
  padding-left: 10px;
  font-size: 14px;
  font-weight: 600;
}

// 選択タグ数
.category-count {
  @include v.category-theme;

  display: inline-flex;
  justify-content: center;
  margin-left: auto;
  width: 20px;
  height: 20px;


  font-size: 11px;
  font-weight: 600;
  color: var(--theme-deep);
  background: var(--theme-soft);
  border-radius: 10px;
}

.category-dot {
  @include v.category-theme;

  text-align: center;
  justify-content: center;
  border: 1px solid var(--theme-deep);
  background: var(--theme-deep);
  width: 12px;
  height: 12px;
  border-radius: 999px;
}

// エディター中央カラム（タグ選択画面）
.editor--main {
  width: 53%;
}

.tag-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 15px;
  padding: 12px;

  align-items: center;
  justify-content: center;
}

.tag-toggle {
  display: none;
}

.tag-input-like {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;

  padding: 10px;
  background: var(--theme-soft);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 8px;
  cursor: pointer;
}

/* ONのとき */
.tag-toggle:checked + .tag-input-like {
  @include v.category-theme;

  background: var(--theme-soft);
  border: 1px solid var(--theme-deep);
  box-shadow: 0 0 0 0.5px var(--category-color);
}

// エディター右カラム（プレビュー画面）
.editor--preview {
  width: 22%;
}

.selected-preview {
  display: flex;
  flex-direction: column;


  // 仮
  // background-color: #d9cfcf;
  // border: 1px solid #181818;
}

.selected-preview-grid {
  // 仮
  // background-color: #ff12a8;
  // border: 1px solid #000;
}

.preview-selected-category-title {
  display: flex;
  align-items: center;

  padding-left: 15px;
  column-gap: 6px;

  font-size: 13px;
  color: v.$text-main;
  font-weight: bold;
  // 仮
  // background-color: #54ff20;
  // border: 1px solid #000;
}

.preview-category-dot {
  @include v.category-theme;

  text-align: center;
  justify-content: center;
  width: 6px;
  height: 6px;
  border-radius: 50%;

  border: 1px solid var(--theme-deep);
  background: var(--theme-deep);
}

.preview-selected-tag-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  // 仮
  // background-color: #ff2420;
}

.preview-selected-tag {
  @include v.category-theme;  
  border-radius: 9px;

  color: var(--theme-deep);
  font-size: medium;
  font-weight: bold;

  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 5px;

  padding: 4px 10px;
  background: var(--theme-soft); 
}

.json-preview-text {
  display: flex;
  margin: 15px;

  padding: 10px;
  border-radius: 10px;

  background-color: v.$bg-code;

  font-size: 13px;
  color: v.$text-code;
  font-weight:normal;
}

.editor-cta {
  display: flex;
  flex: 0 0 auto;
  align-items: flex-start;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 25px;
}

.editor-cta button {
  @include v.category-theme;  

  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;

  padding: 10px;
  background: v.$btn-color-default;
  border-radius: 8px;

  font-size: 15px;
  font-weight: 600;
}

// JSONコピーボタン
.editor-cta-copy-json {
  color: v.$btn-color-copy-json;
  border: 1px solid v.$btn-color-copy-json;
}

.editor-cta-copy-json.is-success {
  background: #dcfce7;
}

.editor-cta-copy-json.is-failed {
  background: #fee2e2;
}