<ul>
    <% categories.each do |category| %>
        <li class="category-item">
        <%= link_to generator_index_path(category: category[:key], selected_tags: selected_tags),
            class: "category-link #{'active' if category[:key] == selected_category}" do %>
            <span class="category-dot <%= category[:key] %>"></span>
            <span class="category-label"><%= category[:label] %></span>
            <span class="category-count"><%= category[:count] || 0 %></span>
        <% end %>
        </li>
    <% end %>
</ul>